@use '../../colors';

.about{
  margin-left: 600px;
  padding-top: 107px;
  padding-bottom: 97px;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: colors.$purple;
    left: 0;
    bottom: 0;

  }


  &_title {
    font-size: 64px;
    line-height: 78px;

    span {
      color: colors.$purple-light;
    }
  }

  &_subtitle {
    margin-top: 5px;
    font-weight: 400;
    font-size: 36px;
    line-height: 44px;
  }

  &_contacts {
    margin-top: 26px;

    a {
      transition: 0.5s ease;
      position: relative;
      text-decoration: none;
    }

    a::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 1px;
      bottom: 0;
      left: 0;
      background: #000;
      visibility: hidden;
      border-radius: 5px;
      transform: scaleX(0);
      transition: .25s linear;
    }

    a:hover:before {
      visibility: visible;
      transform: scaleX(1);
    }
  }

  &_contact {
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;
    color: #000;
    text-decoration: none;

  }

  &_descr {
    margin-top: 77px;
    font-weight: 500;
    font-size: 26px;
    line-height: 40px;
    max-width: 717px;


    span{
      color: colors.$purple-light;
    }
  }

  &_socials {
    margin-top: 72px;
  }

  &_social {
    margin-right: 38px;

    svg {
      path {
        transition: 0.5s ease;
      }
    }

    &:hover svg path {
      fill: colors.$purple-light;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}