@use 'src/_colors.scss';

.footer {
  text-align: center;
  padding: 63px 0;
  position: relative;
  z-index: 2;
  transition: 0.5s ease;

  &.active {
    margin-left: 600px;
  }
}

.designed {
  margin-bottom: 14px;
}

@media screen and (max-width: 1919px) {
  .footer {
    &.active {
      margin-left: 0;
    }
  }
}